<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <script type="text/javascript" src="/jquery/jquery-3.3.1.js"></script>
</head>
<body>
   <div>
       <!--最高等级下-->
       <div class="div-level-0">
           <label>选择父节点:</label>
           <select class="level-0">
                <option value="">无</option>
           </select>
       </div>
    </div>
    <div>
        <label>节点名称：</label>
        <input type="text" id="node" value=""/>
        <input type="button" value="增加" onclick="insertNode()"/>
    </div>
</body>
<script type="text/javascript">
    $(function(){
        //查询顶级节点
        $.post("/class/queryClass",{parentid:""},function (data) {
            console.log(data);
        },"json");
    });

    function insertNode(){

    }
</script>
</html>